{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    {{ include('components/navbar.html.twig') }}
    {{ parent() }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Styles pour centrer le formulaire */
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* 100% de la hauteur de la vue (viewport) */
        }

        .form-signin {
            max-width: 400px; /* Largeur maximale du formulaire */
            width: 100%;
            padding: 15px;
            margin: auto;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <form method="post" class="form-signin">
            {% if error %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}

            {% if app.user %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    You are logged in as {{ app.user.userIdentifier }},
                    <a href="{{ path('logout') }}" class="alert-link">Logout</a>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>

            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" placeholder="Email address" required autofocus>

            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control mb-3" placeholder="Password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">
                Sign in
            </button>

            <p class="text-center">
                Don't have an account? <a href="/register">Register now!</a>
            </p>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
