{% extends 'base.html.twig' %}

{% block title %}Modify Profile{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container mt-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <h4 class="card-title">Edit Profile</h4>
                <form method="post" action="{{ path('edit_profil') }}">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="card-subtitle mb-2 text-muted">Personal Information</h5>
                            {{ form_row(form.firstname, {'attr': {'class': 'form-control mb-3', 'placeholder': 'First Name'}}) }}
                            {{ form_row(form.lastname, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Last Name'}}) }}
                            {{ form_row(form.email, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Email'}}) }}
                        </div>
                        <div class="col-md-6">
                            <h5 class="card-subtitle mb-2 text-muted">Change Password</h5>
                            {{ form_row(form.password.first, {'attr': {'class': 'form-control mb-3', 'placeholder': 'New Password'}}) }}
                            {{ form_row(form.password.second, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Repeat New Password'}}) }}
                        </div>
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                    <a href="{{ path('profil_user') }}" class="btn btn-secondary">Cancel</a>
                    {{ form_end(form) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
