{# templates/accueil/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des événements{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <h1 class="my-4">Liste des événements</h1>
        <form action="{{ path('accueil') }}" method="get" class="input-group mb-3 gap-5">
            <input type="text" name="title" class="form-control" placeholder="Rechercher un événement" aria-label="Rechercher un événement" aria-describedby="button-addon2">
            <button class="btn btn-outline-primary" type="submit" id="button-addon2">Rechercher</button>
        </form>
        {% if events|length %}
            <table class="table table-striped"><thead>
                <tr>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Date et Heure</th>
                    <th>Capacité</th>
                    <th>Public</th>
                    <th>Participants</th> <!-- Nouvelle colonne -->
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.title }}</td>
                        <td>{{ event.description }}</td>
                        <td>{{ event.datetime|date("Y-m-d H:i:s") }}</td>
                        <td>{{ event.capacity }}</td>
                        <td>{{ event.isPublic ? 'Oui' : 'Non' }}</td>
                        <td>{{ event.participantsCount }} / {{ event.capacity }}</td> <!-- Affichage du nombre de participants -->
                        <td>
                            <a href="{{ path('addUser', {'eventId': event.id}) }}" class="btn btn-sm btn-success">S'inscrire</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody></table>
            <nav aria-label="Pagination" class="d-flex justify-content-center">
                <ul class="pagination">
                    {% set total_pages = (total / limit)|round(0, 'ceil') %}
                    {% for i in 1..total_pages %}
                        <li class="page-item {% if i == page %}active{% endif %}">
                            <a class="page-link" href="{{ path('accueil', {'title': app.request.get('title'), 'page': i, 'limit': limit}) }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        {% else %}
            <div class="alert alert-danger" role="alert">
                Pas d'événement trouvé. <a href="{{ path('accueil') }}" class="alert-link">Voir tous les événements.</a>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
