{% extends 'base.html.twig' %}

{% block title %}Liste des événements{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <h1 class="my-4">Liste des événements</h1>
        <form action="{{ path('accueil') }}" method="get" class="input-group mb-3">
            <input type="text" name="title" class="form-control" placeholder="Rechercher un événement" aria-label="Rechercher un événement" aria-describedby="button-addon2">
            <button class="btn btn-outline-primary" type="submit" id="button-addon2">Rechercher</button>
        </form>
        {% if events|length %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Date et Heure</th>
                    <th>Capacité</th>
                    <th>Public</th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.title }}</td>
                        <td>{{ event.description }}</td>
                        <td>{{ event.datetime|date("Y-m-d H:i:s") }}</td>
                        <td>{{ event.capacity }}</td>
                        <td>{{ event.isPublic ? 'Oui' : 'Non' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-danger" role="alert">
                Pas d'événement trouvé. <a href="/Accueil" class="alert-link">Voir tous les événements.</a>
            </div>
        {% endif %}
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}