{% extends 'base.html.twig' %}

{% block title %}Liste des événements{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <h1 class="my-4">Liste des événements</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Date et Heure</th>
                <th>Capacité</th>
                <th>Public</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.id }}</td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.datetime|date("Y-m-d H:i:s") }}</td>
                    <td>{{ event.capacity }}</td>
                    <td>{{ event.isPublic ? 'Oui' : 'Non' }}</td>
                    <td>
                        {#                        <a href="{{ path('addUserInEventByID') }}" class="btn btn-sm btn-success">S'inscrire</a>#}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}