{# templates/new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel événement{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card mt-4">
                    <div class="card-body">
                        <h1 class="card-title mb-4">Créer un nouvel événement</h1>

                        {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}

                        <div class="mb-3">
                            {{ form_label(form.title, 'Titre de l\'événement', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le titre de l\'événement'}}) }}
                            <div class="invalid-feedback">
                                {{ form_errors(form.title) }}
                            </div>
                        </div>

                        <div class="mb-3">
                            {{ form_label(form.description, 'Description de l\'événement', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': 4, 'placeholder': 'Entrez la description de l\'événement'}}) }}
                        </div>

                        <div class="mb-3">
                            {{ form_label(form.datetime, 'Date et heure', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.datetime, {'attr': {'class': 'form-control'}}) }}
                            <div class="invalid-feedback">
                                {{ form_errors(form.datetime) }}
                            </div>
                        </div>

                        <div class="mb-3">
                            {{ form_label(form.capacity, 'Capacité de l\'événement', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.capacity, {'attr': {'class': 'form-control', 'placeholder': 'Entrez la capacité de l\'événement'}}) }}
                        </div>

                        <div class="form-check mb-3">
                            {{ form_widget(form.is_public, {'attr': {'class': 'form-check-input'}}) }}  {# Utiliser is_public ici #}
                            {{ form_label(form.is_public, 'Événement public', {'label_attr': {'class': 'form-check-label'}}) }}
                        </div>

                        <hr class="my-4">

                        {{ form_row(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
